* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  height: max-content;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  /* height: 100vh; */
  background-image: url("../images/walpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.taskbar {
  background-color: #f3f3f3;
  height: 45px;
  display: flex;
  justify-content: center;
  z-index: 500;
}
.taskBar-icons {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: max-content; */
}
.playArea {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.notTaskbar {
  flex-grow: 1;
}
.tskbr-icon:hover {
  cursor: pointer;
}
.startMenu {
  background-color: #f3f3f3;
  color: black;
  position: absolute;
  display: flex;
  width: 630px;
  height: 653px;
  border-radius: 7px;
  z-index: 200;
  bottom: -608px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f6f6f6;
  transition: all 0.3s ease-in;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: flex-end;
  overflow: hidden;
}
.leftIcons {
  position: absolute;
  right: 0px;
  height: 45px;
  display: flex;
}
.l1,
.l2,
.l3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding-left: 6px;
  padding-right: 6px;
}
.greyIt {
  color: #4b4b4b;
}
.l2 {
  flex-direction: column;
  font-size: 0.7rem;
  font-weight: 600;
  align-content: space-around;
  padding-top: 1px;
  padding-bottom: 1px;
}
.l1 span {
  padding-left: 6px;
  padding-right: 6px;
}
.notifIcon {
  padding-right: 14px;
}
.taskBar-icons img {
  margin-left: 7px;
  margin-right: 7px;
}
.battery {
  display: inline-block;
  font-size: 30px;
}
.batterySpan {
  padding-top: 3px;
}
.pinned,
.recommended,
.userPpower,
.userni {
  display: flex;
}
.userPpower {
  flex-basis: 10%;
  background-color: #f3f3f3;
  border-top: 2px solid #ececec;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}
.userImglogo {
  width: 20px;
}
.usrlogo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
}
.userni {
  width: 20%;
  justify-content: space-between;
  align-items: center;
}
.recommended {
  flex-basis: 35%;
  /* background-color: pink; */
  padding-left: 10%;
  padding-right: 10%;
}
.pinned {
  flex-basis: 55%;
  /* background-color: yellow; */
  padding-left: 10%;
  padding-right: 10%;
}
.recommended,
.pinned {
  padding-top: 5%;
  flex-direction: column;
}
.appHeadingsinstartmenu {
  display: flex;
  justify-content: space-between;
}
.sidebuttonofheading {
  display: flex;
  background-color: #fcfcfc;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  border: 2px solid #d5d5d5;
  border-radius: 7px;
  font-size: 0.8rem;
}
.morebuttontext {
  height: max-content;
  padding-bottom: 2px;
}
.startSectiontitle {
  font-weight: 600;
}
.arrows {
  color: #777777;
}
.startMenuicons {
  padding-top: 4%;
}
.startMenuicons {
  display: flex;
  flex-wrap: wrap;
}
.iconspcaptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4.3%;
  margin-right: 4.3%;
  width: min-content;
}
.captionoficons {
  font-size: 12px;
  color: #1f1f1f;
  font-weight: 501;
  width: max-content;
}
.extremeLefticon {
  margin-left: 0px;
}
.extremeRighticon {
  margin-right: 0px;
}
.windowPopup {
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 100%;
  height: 100vh; */
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.topBarhavingButtons {
  width: 100%;
  height: 4%;
  background-color: #dde1e5;
}
.topBarhavingButtons {
  display: flex;
  justify-content: flex-end;
}
.threeButtons {
  display: flex;
  align-items: center;
}
.thicon {
  margin-left: 5px;
  margin-right: 5px;
}
@keyframes openUpWindow {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes closeWindow {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}
